body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.pixel-container {
    background-color:red;
    padding:40px;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;

}

.pixel, .shaded-pixel {
    flex: 1 0 calc(100% / 16);
    box-sizing: border-box;
    border: 1px solid #ddd;
}
.pixel {
    background-color:gray;

}

.shaded-pixel {
    background-color:black;

}