body {
    background-color: white;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.pixel-container {
    background-color:red;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
    flex-wrap:wrap;
    height:60vh;
    width:80vw;
    padding:40px;
}

.pixel, .shaded-pixel {
    height:3.6vh;
    width:3.6vw;
    border:solid;
    margin:0;
    padding:0;
    flex: 1 1 auto;

}
.pixel {
    background-color:gray;

}

.shaded-pixel {
    background-color:black;

}